.logContainer{
    text-align: center;
    border: 1px solid lightgray;
    width: 70%;
    background: gainsboro;
    margin-left: 15%;
    margin-top: 10%;
}
.names input{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.normalInput input{
    float: left;
    width: 80%;
    margin-left: 10px;
}