.body{
    padding-right: 5px;
    height: 100%;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background: lightgray;
    border-radius: 8px;
}
::-webkit-scrollbar-track{
    background: rgb(231, 229, 229);
}
.mainSection{
    width: 64.6%;
    float: left;
}
.recentUpdates{
    overflow-y: auto;
    width: 35%;
    height: 100%;
    right: 0;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: rgb(226, 226, 226);
    position: fixed;
    padding-right: 2px;
}
.topSlick{
    width: 100%;
}
@media (max-width: 500px) {
    .body{
        padding-right: 0;
    }
    .recentUpdates {
      display: none;
    }
    .mainSection{
        width: 100%;
    }
    .topSlick{
        display: none;
    }
}
@media (max-width:1023px){
    .nav{
        display: none;
    }
}
@media (min-width:1024px){
    .mainSection{
        width: 45%;
        margin-left: 25.3%;
    }
    .recentUpdates{
        width: 30%;
    }
    .nav{
        width: 25%;
        float: left;
        z-index: 1;
        overflow-y: auto;
        height: 100%;
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: rgb(226, 226, 226);
        position: fixed;
    }
}
@media (min-width:501px){
    .topSlickMobile{
        display: none;
    }
}