.postModule{
    position: relative;
    background: #fff;
    max-height: 100%;
    margin: 0 5px 10px 5px;
    border-bottom: lightgray double 1px;
}
.postContainer{
    position: relative;
    padding: 10px 5px;
    background: #fff;
    max-height: 100%;
    margin: 0 5px 10px 5px;
    border-bottom: lightgray double 1px;
}
.imageBox{
    display: flex;
    align-items: center;
    flex-direction: column;
}
img{
    max-width: 100%;
}
.postContent{
    background: #fff;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}
.description{
    margin: 0 10px;
    color: lightgray;
}
.postMetas{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: gray;
}
.topInfo{
    display: flex;
    flex-direction: row;
    color: gray;
}
.topInfo img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 5px;
}
.topInfo h3{
    margin-right: 5px;
}
.postMeta{
    display: none;
    position: relative;
    color: lightgray;
    border-top: 1px solid #e6e7e7;
    padding: 10px;
}

.title{
    font-size: 24px;
    font-weight: 300;
    margin: 0 5px;
    color: gray;
}
.category{
    position: absolute;
    bottom: 99px;
    z-index: 1;
    left: 1;
    background:#03a9f0;
    border-radius: 0 5px 5px 0;
    padding: 10px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.dropdown{
    position: absolute;
    z-index: 1;
}